* {
  margin: 0;
}
/* Body Style */
body {
  background-color: #003636;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  position: relative;
  color:#bbdfce;
}
 /* Navigation list  */
li {
  display: flex; 
  margin: right;
  display: inline-block; 
  font-size: 1.25em;
  font-weight: bold;

}

a:link{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a {
  color: inherit;
}

h1{
  font-weight: bold;
  /* text-align:center; */
  padding: 30px;
  font-size: 20;
  text-align: justify;
  display: flex; /* Fix the allignment */
}
  #home h2 {
  padding: 300px;
  text-align: center;
  font-family: Circular, Arial, sans-serif;
  color:#bbdfce;
  position: relative;
  font-size: 36px;
}

p{
  width: 50%;
}

span{
  font-weight: bold;
}

/*Text color#6b2e1a#beae62;; 

 nav/*.nav-links a */
 /* background-color: 
  display: flex-end;
  justify-content: space-around;
 /* color: #e42315;
} */

