* {
  margin: 0;
}
/* Body Style */
body {
  background-color: #003636;
  font-family: Circular, Arial, sans-serif;
  position: relative;
  color:#bbdfce;
}
 
#home h2 {
  padding: 300px;
  text-align: center;
  font-family: Circular, Arial, sans-serif;
  color:#bbdfce;
  position: relative;
  font-size: 36px;
}

h1{
  text-align:left;
}

a:link {
  text-decoration: none;
}

a {
  color: inherit;
}

h1{
  padding:30px;
  font-size:20;
  text-align: justify;
  display: flex; /* Fix the allignment */ 
}

/* Nav bars */
li{
  display: flex;
margin: right;
display: inline-block;
font-size: 20px;
}


a:link{
  text-decoration: none;

}



/*Text color#6b2e1a#beae62;; 

 nav/*.nav-links a */{
 /* background-color: 
  display: flex-end;
  justify-content: space-around;
 /* color: #e42315;
} */

h1 {
  background-color: #000;
  font-weight: bold;
  align-items: center;
  font-family: Roboto;
}

/* Payment method */
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input {
  margin: 0.4rem;
}

input:invalid {
  outline-color: red;
}